.wbt-rotator {overflow:hidden;position:relative;cursor:pointer;margin:20px 0;background-color:#fff;box-shadow:0 0 20px rgba(0,0,0,0.5);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.wbt-rotator-image {display:none;}
.wbt-rotator-image__active {display:block;}

.wbt-rotator-cover {display:block;opacity:0.5;}
.wbt-rotator__loaded .wbt-rotator-cover {display:none;}

.wbt-rotator-loader {display:block;position:absolute;z-index:1;left:50%;top:50%;width:32px;height:32px;margin:-16px 0 0 -16px;color:#333;color:rgba(50,50,50,0.8);text-align:center;line-height:32px;font-size:32px;text-shadow:0 0 20px #fff;pointer-events:none;overflow:hidden;}
.wbt-rotator__loading .wbt-rotator-loader {background:url("loader.gif") center center no-repeat;text-indent:-100em;}
.wbt-rotator__loaded .wbt-rotator-loader {display:none;}

/* Cursors*/
.wbt-rotator__loaded {cursor:default;}
.wbt-rotator__loaded.wbt-rotator__horizontal {cursor:ew-resize;}
.wbt-rotator__loaded.wbt-rotator__vertical {cursor:ns-resize;}
.wbt-rotator__loaded.wbt-rotator__grab {cursor:hand;cursor:pointer;cursor:grab!important;cursor:-moz-grab;cursor:-webkit-grab;cursor:url(openhand.cur), pointer!important;}
.wbt-rotator__loaded.wbt-rotator__grab.wbt-rotator__active {cursor:hand;cursor:pointer;cursor:grabbing!important;cursor:-moz-grabbing;cursor:-webkit-grabbing;cursor:url(closedhand.cur), pointer!important;}