/* WBT Form Styling */
.wbt-input__styled {font-size:0;width:0;height:0;margin:0;padding:0;position:absolute;z-index:-1;opacity:0.01;}

/* Checkbox */
.wbt-input-checkbox {display:inline-block;margin:0 4px 0 0;vertical-align:text-bottom;line-height:30px;}
.wbt-input-checkbox_icon {display:block;width:20px;height:20px;}
/* Checkbox Skin */
.wbt-input-checkbox_icon {background:url("icon-checkbox-na.png") center center no-repeat;}
.wbt-input-checkbox__active .wbt-input-checkbox_icon {background-image:url("icon-checkbox-a.png");}

/* Radio */
.wbt-input-radio {display:inline-block;margin:0 4px 0 0;vertical-align:text-bottom;line-height:30px;}
.wbt-input-radio_icon {display:block;width:20px;height:20px;}
/* Radio Skin */
.wbt-input-radio_icon {background:url("icon-radio-na.png") center center no-repeat;}
.wbt-input-radio.wbt-input-radio__active .wbt-input-radio_icon {background-image:url("icon-radio-a.png");}

/* Select */
.wbt-input-select {display:inline-block;position:relative;white-space:nowrap;cursor:pointer;min-width:160px;}
.wbt-input-select_selected {overflow:hidden;text-overflow:ellipsis;padding:0 20px 0 10px;}
.wbt-input-select_button {position:absolute;right:0;top:0;width:20px;height:100%;}
.wbt-input-select_options {display:none;position:absolute;z-index:10;left:0;margin:6px 0 0;padding:0;min-width:100%;max-height:160px;overflow-y:auto;overflow-x:hidden;}
.wbt-input-select__active .wbt-input-select_options {display:block;}
.wbt-input-select_link {padding:0 10px;overflow:hidden;text-overflow:ellipsis;}
/* Select Skin */
.wbt-input-select_item {border-top:1px solid #e9e9e9;}
.wbt-input-select_item:hover {background-color:#efefef;}
.wbt-input-select_item:first-child {border-top:none;}
.wbt-input-select_item__active,
.wbt-input-select_item__active:hover {background-color:#cfcfcf;}
.wbt-input-select_selected,
.wbt-input-select_options {background-color:#fff;box-shadow:1px 1px 4px 0 rgba(0,0,0,0.5);}
.wbt-input-select_button {background:url("icon-triangle-down-black.png") center center no-repeat;}
.wbt-input-select__active .wbt-input-select_button,
.wbt-input-select__active .wbt-input-select_button:active {background-image:url("icon-triangle-up-black.png");}

/* Range */
.wbt-input-range {position:relative;display:inline-block;width:100%;height:20px;}
.wbt-input-range_track {position:absolute;left:0;top:6px;bottom:6px;width:100%;}
.wbt-input-range_selection {position:absolute;left:0;top:0;top:6px;bottom:6px;}
.wbt-input-range_handle {width:9px;margin-left:-5px;position:absolute;top:0;bottom:0;}

/* Range Skin */
.wbt-input-range {cursor:pointer;}
.wbt-input-range_track {background-color:#dfdfdf;box-shadow:inset 1px 1px 4px 0 rgba(0,0,0,0.5);}
.wbt-input-range_selection {background-color:#666;box-shadow:inset 1px 1px 4px 0 rgba(255,255,255,0.5);}
.wbt-input-range_handle {background-color:#999;box-shadow:inset 1px 1px 4px 0 rgba(255,255,255,0.5);border:1px solid rgba(140,140,140,0.5);}


/*.wbt-input-text,*/
/*.wbt-input-select,*/
/*.wbt-input-textarea {position:relative;min-height:21px;line-height:21px;padding:3px 6px;margin:0;font-size:12px;color:#4f849a;background:#f3f3f3;border:1px solid #fff;border-top-color:#c8c8c8;border-left-color:#c9cbcc;border-right-color:#e1e1e1;-webkit-box-shadow:inset 2px 2px 1px -2px rgba(0,0,0,0.5);-moz-box-shadow:inset 2px 2px 1px -2px rgba(0,0,0,0.5);box-shadow:inset 2px 2px 1px -2px rgba(0,0,0,0.5);border-radius:2px;}*/
/*.wbt-input-select {height:29px;line-height:29px;}*/
/*.wbt-input-textarea {resize:vertical;}*/
